@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*{
  outline: none;

  scroll-behavior: smooth;
}


body::-webkit-scrollbar {
  width: 0.5em;
} 
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #3596F5;
}

#progressBarContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

body{
 overflow-x: hidden;
}

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, violet, red);
  height: 0;
  opacity: 0;
}

.loader-container{
  margin: 0;
  padding: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background:black;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: padding-box;
  z-index: 100;
}

.loader{
  width: 120px;
  height: 120px;
  border: 11px solid;
  color: #3498db;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 3s linear infinite;
}

@keyframes loader{
  25%{
      color: #2ecc71;
  }
  50%{
      color: #f1c40f;
  }
  75%{
      color: #e74c3c;
  }
  to{
      transform: rotate(360deg);
  }
}



* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.header {
  background-color: #17234A;
  padding: 12px 0;
  border-bottom: 4px solid #3596F5;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-right: 0;
  
}

.header-con{
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-penal {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item {
  margin: 0 40px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-contacts {
  text-align: right;
}

.navbar-text {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.navbar-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.menu-button {
  display: none;
  position: fixed;
  right: 20px;
  z-index: 10;
}

.main {
  padding-top: 54px;
  padding-bottom: 100px;
  display: flex;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}

.home-image {
  width: 100%;
  max-width: 734px;
}

.home-image path {
  opacity: 0;
  cursor: pointer;
}

.home-image path:hover {
  opacity: 1;
}

path.current-floor {
  opacity: 1;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg);
}

.main-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
  margin: 0;
}

.floor-counter {
  font-family: 'Bebas Neue', sans-serif;
  color: #635854;
  font-size: 124px;
  margin-top: 10px;
}

.button-primary {
  background-color: #17234A;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
  transition: all .3s 
}

::selection{
  background-color:#17234A;
  color:#560134;
}


.button-primary:hover{
  background-color: #09016C;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
  z-index: 100000000000;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}




.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;
}



.is-open>.modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-image {
  /* background-color: #EBEBEB; */
  width: 60%;
  text-align: center;
  padding: 50px;
}

.flats {
  max-width: 433px;
  width: 100%;
}

.flats path {
  opacity: 0;
  cursor: pointer;
}

.flats path:hover {
  opacity: 1;
}

.modal-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-info {
  width: 50%;
  padding: 40px 46px;
}

.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}

.flat-item {
  padding: 5px 0;
}

.flat-link {
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.flat-link:hover,
.current-flat {
  color: #3596F5;
  text-decoration: underline;
}

path.current-flat {
  opacity: 1;
}

.modal-alert {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 56px;
}

.modal-close-button {
  position: absolute;
  top: 38px;
  right: 27px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.footer {
  background-color: #D7D7D7;
  padding: 50px 0;
  border-top: 4px solid #3596F5;
}


.another-projects{
  display: flex;

  justify-content: space-around;
  width: 95%;
  flex-wrap: wrap;
}

.another-projects img{
  width: 800px;
  height: 440px;
  object-fit:cover;
}

.img-a-block{
  position: relative;
  display: inline-block; 
  height: 440px;
  overflow: hidden;
}

.img-a-block img{
  overflow: hidden;
}


@media (min-width:800px){
  .img-a-block img{
    transition: .3s all;
  }
.img-a-block img:hover{
  transform: scale(1.1);
}}


.img-a-block::after {
  content: attr(data-title); 
  position: absolute; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  z-index: 1; 
  background: rgba(255, 167, 0, 0.6);
  color: #fff; 
  text-align: center; 
  
  font-size: 20px; 
  padding: 5px 10px; 
  border: none; 
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: white;
  margin: 0;
 }




.footer .logo {
  margin-right: 37px
}

.social {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.social-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

.social-link {
  margin-right: 15px;
}

.footer .navbar-item {
  margin: 0 10px;
}

.footer .navbar-item:last-child {
  margin-right: 0;
}

.footer .navbar-link {
  color: #635854;
}

.footer .navbar-contacts {
  text-align: left;
  margin-right: 60px;
}

.footer .navbar-text {
  color: #635854;
}

.footer .navbar-phone {
  color: #635854;
}

@media (max-width: 1400px) {
  .container {
    width: 90%;
    max-width: 1200px;
  }
  .modal{
   padding-right: 5%;
   padding-left: 5%;
  }
  .modal-title{
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .navbar-item {
    margin: 0 20px;
  }

  .main-info {
    margin-left: 40px;
  }

  .footer .logo {
    margin-right: 25px;
  }

  .footer .navbar-contacts {
    margin-right: 25px;
  }
}

@media (max-width: 1024px) {
  .footer .navbar-item:not(:last-child) {
    margin: 0 5px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
 

  .navbar-penal {
    display: none;
    position: absolute;
    top: 60px;
    right: 40px;
    background-color: #17234A;
    padding: 20px;
    z-index: 5;
  }

  .navbar-menu {
    display: block;
  }


  .navbar-item {
    margin-bottom: 20px;
  }

  .navbar-contacts {
    text-align: center;
  }

  .menu-button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .menu-button>.line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .footer .navbar-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer .logo {
    margin-right: 37px;
  }

  .footer .navbar-contacts {
    margin-right: 37px;
  }


}

@media (max-width: 768px) {
  .main {
    flex-wrap: wrap;
  }

  .main-info {
    padding: 50px;
    margin-left: 0;
  }

  .counter-group {
    margin: 40px 0;
  }

 

  .modal-dialog {
    flex-direction: column;
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 5px;
    padding-top: 35px;
  }

  #mt2{
    display: none;
  }

  .modal-image,
  .modal-info {
    text-align: center;
    padding: 0;
    margin: auto;
  }

  .modal-info{
    transform: scale(0.8);
  }


  .modal-image{
    width: 200px;
    height: 200px;
   
  }

  .flats {
    max-width: 250px;
  }

  .flat-list {
    margin-top: 0;
  }

  .modal-alert {
    margin-top: 25px;
  }


  .footer .navbar {
    flex-direction: column;
    align-items: center;
  }

  .footer .logo {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .footer .navbar-contacts {
    margin-right: 0;
    text-align: center;
    margin-bottom: 15px;
  }

  .social {
    margin-bottom: 15px;
  }
}

@media (max-width:480px) {
  .main-title {
    font-size: 25px;
  }

  .floor-counter {
    font-size: 70px;
  }

}


form{
  height: 200px;
  width: 300px;
  font-size: 23px;
  z-index: 1;
}




.request-form__content{
  height: 380px;
  width: 300px;
  margin: auto;
  background: #17234A;
  transform: scale(1.2);
  border-radius: 10px;
  margin-top: 30px;
}


form .form__group{
  width: 300px;
  margin: auto;
}



form input{
  font-weight: bold;
  width: 200px;
  margin: 0 35px 20px ;
  height: 35px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #F6F7F9;
  color: #748194;
  font-size: 14px;
  margin-right: 50px;
  margin-left: 50px;
}


form textarea{
  font-weight: bold;
  width: 200px;
  margin: 0 35px 20px ;
  margin-right: 50px;
  margin-left: 50px;
  height: 35px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #F6F7F9;
  color: #748194;
  font-size: 14px;
}

#imya{
  margin-top: 20px;
}

form button{
  cursor: pointer; 
  font-weight: bold;
 width: 200px;
 margin: 0 35px 20px ;
 height: 45px;
 padding: 6px 15px;
 border-radius: 5px;
 outline: none;
 border: none;
 background: #6B0134;
 color: white;
 font-size: 14px;
 transition: .3s all ease-in;
 margin-right: 50px;
 margin-left: 50px;
}

.form button:hover{
  background: #560134;
}


.mySlides {
    display: none;
}
 .mySlides img {
    vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
  max-width: 90%;
  
  position: relative;
  margin: auto;
}


@media (min-width:1000px) {
  .slideshow-container {
    max-width: 50%;

    position: relative;
    margin: auto;
  }
  .gall{
    margin-top: 180px;
    margin-bottom: 50px;
  }
}



.gall{
  margin-top: 120px;
  margin-bottom: 20px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #008FF5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 150px;
}

.active, .dot:hover {
  background-color: #0053F5;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
.dot{
 height: 10px;
  width: 10px;
}

}

@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 14px}
}


header{
  z-index: 10000000;
}

.header-con{
  z-index: 10000000000000000000;
}

.menu-button{
  margin-left: 20px;
} 


.inf{
  display: flex;
  justify-content: center;
  align-items:center;
}

.inf .text-info, .img-info{
  max-width: 40%;
  
}

.img-info{
  filter: brightness(0.9);
}


@media (min-width:800px){
  .img-info{
    transition: .5s all;
  }
.img-info:hover{
  filter: brightness(1.09);
}}

@media (max-width:1000px){
  #inf_1{
    flex-direction: column;
  }
  #inf_1 .text-info{
    text-align: center;
    max-width: 100%;
    padding-left: 5%;
  }
  #inf_1 .img-info{
    text-align: center;
    max-width: 100%;
  }
  #inf_1 img{
    max-width: 95%;
  }
  #inf_1 h1{
    max-width: 100%;
  }
}



@media (max-width:1000px){
  #inf_2{
    flex-direction: column-reverse;
  }
  #inf_2 .text-info{
    text-align: center;
    max-width: 90%;
    padding-right: 5%;
  }
  #inf_2 .img-info{
    text-align: center;
    max-width: 100%;
  }
  #inf_2 img{
    max-width: 95%;
  }
  #inf_2 h1{
    max-width: 100%;
  }
}



.cards{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 150px;
  flex-wrap: wrap;
  justify-content: space-around;
}




.card{
  width: 350px;
  height: 500px;
  background-color:#17234A;
  padding: 20px;
  padding-top: 80px;
  color:white;
  border-radius:20px;
  margin-bottom: 40px;
}

@media (min-width:800px){
.card{
  transition: .3s all;
}
.card:hover{
  transform: scale(1.04);
}}


@media (max-width:1600px){
  .card{
    width: 300px;
    height: 480px;
   
  }
}



@media (max-width:1500px){
  .card{
    width: 280px;
    height: 480px;
   
  }
}


.dev-block{
  width: 100%;
  z-index: 100000000;
  height: 1200px;
  background: url(
    ../img/devv.jpg) no-repeat fixed center / cover;
   
    
}

@media (max-width:800px){
  .block{
    width: 1200px;
    padding-bottom: 30px;
  }
}


.block * {
  position: relative;
}
.block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 900px;
  height: 850px;
  box-shadow: 1px 1px 4px rgba(14, 14, 14, 0.3);
  border: 10px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  text-shadow: 0 1px 2px #000;
  color: #fff;
  background: inherit;
  font-family: Fira Sans;
  display: flex;
  padding-top: 10px;
  color: white;
  max-width: 90%;
  display: flex;
  justify-content: center;
  background-color:#17234A;
  margin-bottom: 80px;
}


@media (min-width:1000px){

  .block{
    transition: .2s all;
  }

.block:hover{
  background-color: #111936;
}}

.block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: inherit;
  filter: blur(20px);
  filter: url(#blur);
}


.card h2{
  font-weight: bold;
  color:white;
}


.card p{
  font-size: 25px;
  text-align: center;
  color:white;
  line-height: 130%;
  height: 120px;
}




.card img{
  width: 150px;
  margin: auto;
  position: relative;
  bottom:0;
}

.card-img{
  display: flex;
  align-items:center;
}

/* 

@media only screen and (max-width : 768px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
} */